@import '../../utils/colors';

#table-title {
  padding: 45px;
  text-align: center;
}

.container-file {
  padding: 20px 15px;

  h2 {
    display: inline;
  }

  .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    background-color: color(gray);
    border: 2px solid color(black);
    color: color(white);
    text-align: center;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
  }

  .custom-file-upload:hover {
    background-color: color(white);
    color: color(black);
    border: 2px solid color(gray);
  }

  input[type="file"] {
    display: none;
  }
}

.container-table {
  margin: 0 15px;
  padding-bottom: 2px;

  table {
    width: 100%;
    border-collapse: collapse;

    td,
    th {
      border: 1px solid color(gray);
      padding: 6px;
      text-align: center;
    }

    th {
      background-color: color(gray, 2);
    }
  }
}

.img {
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;

  @media (max-width: 768px) {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: color(gray);
  -webkit-box-shadow: inset 0 0 6px color(gray);
}

.mobile-table {
  display: none;

  @media (max-width: 768px) {
    display: none;
  }
}

@media (max-width: 768px) {
  .desktop-table {
    display: none;
  }

  .mobile-table {
    display: block;
    padding-bottom: 20px;
  }
}

::ng-deep snack-bar-container.mat-snack-bar-container {
  max-width: 90% ;

  .mat-simple-snack-bar-content {
    color: red;
  }
}
